#root {
}

.main-grid {
  display: grid;
  overflow: hidden;
  grid-template-columns: 20% 80%;
}
.main-grid::has(.ml-auto) {
  overflow: auto;
}

.link-main {
  cursor: pointer;
}

.link-main:hover {
  color: #334abd;
}
@media only screen and (max-width: 700px) {
  .link-main {
    display: none;
  }
  .main-grid {
    grid-template-columns: 10% 90%;
  }
}
